.main{
    text-align: center;
    font-size: 14px;
}
h4 {
    font-size: 1rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
button{
    background-color: var(--primaryColor);
    color: white;
    padding: .8rem 2rem;
    border: none;
    border-radius: .3rem;
}
.footer p{
    color: var(--primaryColor);
    cursor: pointer;
}
.detail{
    border-bottom: 1px solid var(--primaryColor);
    padding-bottom: 1rem;
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.detail p{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.interest{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

img{
    width: 9rem;
    height: 8rem;
    object-fit: cover;
    border: 3px solid var(--primaryColor);
    border-radius: .5rem;
}


@media screen and (min-width: 700px) {
    .detail{
        flex-direction: row;
    }
}
/* .inps */