<div class="main">
    <h4>Preview</h4>
    <p>Confirm your account details, if something is out of place you can <span>Edit</span></p>
    <div>
        <div class="detail">
            <div>
                <img [src]="imageUrl || '../../../assets/noPic.jpeg'" alt="profile">
            </div>
            <div>
                
                <p>{{registerForm.get('fullname')?.value}}</p>
                <div>
                    <p>{{registerForm.get('email')?.value}}</p>
                    <p>{{registerForm.get('phonenumber')?.value}}</p>
                </div>
            </div>
        </div>
        @if(registerForm.get('interest')?.value){
            <div class="interest">
                <h4>Interest:</h4>
                <p>{{registerForm.get('interest')?.value}}</p>
            </div>
        }
    </div>
    <div class="footer">
        <p (click)="onChangePage()">Edit</p>
        <!-- <button type="button" (click)="onChangePage()">Create Account</button> -->
        <button type="button" (click)="registerUser()">{{!(loading$ | async) ? 'Create Account' : "Loading"}}</button>
    </div>
</div>