/* .body{
   display: flex;
   flex-direction: column;
   background-color: red;
}
.main{
   height: auto;
   flex-grow: 1;
   background: linear-gradient(0deg,rgba(129, 14, 167, 0.6), rgba(129, 14, 167, 0.6)), url("../../../assets/bgImg.png") center/cover fixed no-repeat;
} */

section{
   background-color: white;
   border-radius: .5rem;
   padding: 1rem;
   display:  flex;
   flex-direction: column;
   gap: 2rem;
   width: 100%;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   gap: 1rem;
}
.img-container{
   height: 5rem;
   /* width: 5rem; */
   height: 100%;
   width: min(8rem,100%);
}
.img{
   height: 100%;
   width: 100%;
   border-radius: .5rem;
   object-fit: cover;
}
.with-btn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: .5rem;
   flex: 1;
}
button{
   background-color: var(--primaryColor);
   color: white;
   padding: .8rem 1rem;
   border: none;
   border-radius: .5rem;
   cursor: pointer;
   width: 6rem;
}
.mobile{
   display: none;
}
.button{
   /* display: none; */
   /* padding: .8rem 2rem; */
   background-color: white;
   border: 1px solid rgba(250, 52, 52, 1);
   color: rgba(250, 52, 52, 1);
   border-radius: .5rem;
}

.loader{
   height: 1.2rem;
   width: 1.2rem;
   border-radius: 1rem;
   background-color: transparent;
   border: 4px solid var(--primaryColor);
}
.ske{
   height: 1rem;
   border-radius: .5rem;
   animation: load-skeleton 5s linear infinite;
   background: linear-gradient(90deg, #80808070 25%, #80808085 50%, #80808070 75%);
   opacity: .7;
   background-size: 200% 100%;
   width: 20%;
}
.ske-text {
   width: 50%;
   margin-bottom: .3rem;
}
.ske-img{
   height: 8rem;
   width: 100%;
}
.red{
   /* width: 100%; */
   flex: 1;
}
.grid-2{
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   gap: 1rem;
   background-color: bisque;
}
@keyframes load-skeleton {
   0% {
       background-position: 200% 0;
   }
   100% {
       background-position: -200% 0;
   }
}
@media screen and (min-width:700px) {
   section{
     padding: 2rem;
   }
   .mobile{
      display: block;
   }
   .img-container{
      width: 20%;
      height: 7rem;
   }
   .desk{
      display: none;
   }
   .grid{
      display: flex;
      justify-content: space-between;
   }
   button{
      padding-block: 1rem;
   }
   .btn-container{
      display: flex;
      gap: 1rem;
   }
}

