/* .body{
   display: flex;
   flex-direction: column;
   background-color: red;
}
.main{
   height: auto;
   flex-grow: 1;
   background: linear-gradient(0deg,rgba(129, 14, 167, 0.6), rgba(129, 14, 167, 0.6)), url("../../../assets/bgImg.png") center/cover fixed no-repeat;
} */

section{
   background-color: white;
   border-radius: .5rem;
   padding: 2rem;
   display:  flex;
   flex-direction: column;
   gap: 2rem;
   width: 100%;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   gap: 1rem;
}
.img-container{
   height: 100%;
   width: 100%;
}
.img{
   height: 100%;
   width: 100%;
   border-radius: .5rem;
   object-fit: cover;
}
.with-btn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: .5rem;
   flex: 1;
}
button{
   background-color: var(--primaryColor);
   color: white;
   padding: .5rem 1rem;
   border: none;
   border-radius: .5rem;
}
.mobile{
   display: none;
}
.button{
   /* display: none; */
   padding: .8rem 2rem;
   background-color: white;
   border: 1px solid rgba(250, 52, 52, 1);
   color: rgba(250, 52, 52, 1);
   border-radius: .5rem;
}

.loader{
   height: 1.2rem;
   width: 1.2rem;
   border-radius: 1rem;
   background-color: transparent;
   border: 4px solid var(--primaryColor);
}
@media screen and (min-width:900px) {
   .mobile{
      display: block;
      /* width: 30%; */
   }
   .img-container{
      width: 20%;
      height: 7rem;
   }
   .desk{
      display: none;
   }
   .grid{
      display: flex;
      justify-content: space-between;
   }
   button{
      padding: 1rem 2rem;
   }
   .btn-container{
      display: flex;
      gap: 1rem;
   }
}