
<app-dashboard-layout>
    <section >
        @if(loading$ | async){
            <div  class="grid"  *ngFor="let list of [1,2,3,4]">
                <div class="img-container ske ske-img">
                </div>
                <div class="red">
                    <p class="ske ske-text"></p>
                    <p class="ske ske-text"></p>
                    <div class="with-btn desk">
                        <button class="ske ske-text"></button>
                        <div class="ske img"></div>
                    </div>
                </div>
                <p class="ske ske-text"></p>
                <div class="mobile btn-container">
                        <button class="ske"></button>
                        <button class="ske" ></button>
                </div>
            </div>
        }
        @else if(!(wishList$ | async)?.length){
            <p>Wishlist is empty</p>
        }@else{
            <p>Items: {{(wishList$ | async)?.length}}</p>
            <div *ngFor="let list of wishList$ | async" class="grid">
                <div class="img-container">
                    <img [src]="list.frontCover?.image" alt="list.title" [routerLink]="'/books/science/' + list._id" class="img">
                </div>
                <div>
                    <p>{{list.title}}</p>
                    <p>{{list.author.fullname}}</p>
                    <p>N {{list.price}}</p>
                    <div class="with-btn desk">
                        @if(list.inLib){
                            <button>Read</button>
                        }@else{
                            <button [routerLink]="['/dashboard/payment']" 
                            [queryParams]="{ 'buy-now': true,id :list._id }">Buy Now</button>
                        }
                        <!-- <button>Add To Cart</button> -->
                        <img src="../../../assets/edit.svg" alt="delete-icon" (click)="removeWishlist(list._id)">
                    </div>
                </div>
                <p>N {{list.price}}</p>
                <div class="mobile btn-container">
                    @if(list.inLib){
                        <button>Read</button>
                    }@else{
                        <button [routerLink]="['/dashboard/payment']" 
                        [queryParams]="{ 'buy-now': true,id :list._id }">Buy Now</button>
                    }
                    
                    @if((ids$ | async)?.includes(list._id)){
                        <div class="loader"></div>
                    }@else{
                        <button class="button" (click)="removeWishlist(list._id)">Remove</button>
                    }
                </div>
            </div>
        }
    </section>
</app-dashboard-layout>