<header>
    <!-- <app-navbar></app-navbar> -->
    <section>
        <div class="body-head">
            <div class="flex-row">
                <div class="gain">
                    <p>GAIN</p>
                    <p>SHARE</p>
                </div>
                <p class="know">KNOWLEDGE</p>
            </div>
            <p class="center">A Large Collection Of Books, Journals, Articles And Resources To Suit Your Reading Needs</p>
            <div class="search">
                <img src="../../../assets/search.svg" alt="search-icon">
                <input type="text" placeholder="Search For A Book" [(ngModel)]="searchService.search">
                <button routerLink="/books">Search</button>
            </div>
            <!-- <div class="comp">
                <app-search></app-search>
            </div> -->
        </div>
        <div class="overlay"></div>
    </section>
</header>
