<div class="body">
    <app-navbar></app-navbar>
    <main>
        <section>
            <div>
                <img src="../../../assets/contack.png" alt="">
            </div>
            <form>
                <h3>Get In Touch</h3>
                <div class="flex">
                    <div>
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" id="firstname">
                    </div>
                    <div>
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" id="lastname">
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
            </form>
        </section>
        <div class="overlay"></div>
    </main>
    <app-footer></app-footer>
</div>
