<app-verify>
    <form #formData="ngForm" (ngSubmit)="resetPasswordSubmit(formData)">
        @if(error$ | async){
            <p>{{(error$ | async)?.message}}</p>
        }
        <h4>Reset Password</h4>
        <div >
            <!-- <label for="newPassword">New Password</label> -->
            <input type="text" placeholder="New Password" name="newPassword" ngModel required >
            <!-- <label for="confirmPassword">Confirm Password</label> -->
            <input type="text" placeholder="Confirm Password" name="confirmPassword" ngModel required>
            <button [disabled]="!formData.valid">{{(loading$ | async) ? 'Loading' : 'Submit'}}</button>
        </div>
    </form>
</app-verify>
