div{
    display: grid;
    gap: 1rem;
}
input{
    width: 100%;
    padding: .5rem;
    /* height: 2.5rem; */
    border: 1px solid var(--primaryColor);
    border-radius: .5rem;
    outline-color: var(--primaryColor);
    font-size: 1rem;
}
input:focus{
    outline-color: var(--primaryColor);
}
form{
    display: grid;
    width: 100%;
    gap: 1.3rem;
    text-align: start;
}
button{
    width: 100%;
    background-color: var(--primaryColor);
    border: none;
    padding: .9rem;
    color: white;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

button:disabled{
    opacity: .7;
    cursor: auto;
}


/* .loader{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .5rem solid whitesmoke;
    border-top: .5rem solid var(--primaryColor);
    border-radius: 50%;
} */