<div class="body">
    <app-navbar></app-navbar>
    <app-dashboard-layout>
        <aside>
            <div>
                <input type="file">
                <p></p>
            </div>
            <div>
                <div class="grid">
                    <!-- <label for="name">Name</label>
                    <input type="text" name="name"> -->
                    <div class="flex">
                        <p>Name</p>
                        <p>Victoria Okonnah</p>
                    </div>
                    <div class="flex">
                        <p>Email</p>
                        <p>Victoriaokonnah&#64;gmail.com</p>
                    </div>
                    <div class="flex">
                        <p>Phone Number</p>
                        <p>09083937979</p>
                    </div>
                    <button>Edit Profile</button>
                </div>
                <div class="grid">
                    <!-- <label for="name">Name</label>
                    <input type="text" name="name"> -->
                    <div class="flex">
                        <p>Name</p>
                        <p>Victoria Okonnah</p>
                    </div>
                    <div class="flex">
                        <p>Email</p>
                        <p>Victoriaokonnah&#64;gmail.com</p>
                    </div>
                    <div class="flex">
                        <p>Phone Number</p>
                        <p>09083937979</p>
                    </div>
                    <button>Edit Profile</button>
                </div>
            </div>
        </aside>
        <!-- <aside>

        </aside> -->
    </app-dashboard-layout>
    <app-footer></app-footer>
</div>
