<header>
    <app-navbar></app-navbar>
    <section class="head-section">
        <h3>BOOKS</h3>
        <div class="search">
            <img src="../../../assets/search.svg" alt="search-icon">
            <input type="text" placeholder="Search For A Book" [(ngModel)]="search">
            <button (click)="searchBook()">Search</button>
        </div>
    </section>
</header>
<main>
    <!-- <div (click)="show = !show">
        show
    </div> -->
    <div class="main" #main>
        
        <div class="filterCon">
            @if(show){
                <section class="filter">
                    <h4>Filter</h4>
                    <p>Category</p>
                    <div class="cat-list">
                        <p *ngFor="let cat of category" (click)="changeCategory(cat)" [ngStyle]="{color: selectedCategory == cat.toLowerCase() ? '#810EA7' : 'black'}">{{cat}}</p>
                    </div>
                </section>
            }
        </div>
        <section>
                <div class="books">
                    <div class="top-card">
                        <div (click)="toggleSideBar()">
                            show
                        </div>
                        <h4>{{selectedCategory[0].toUpperCase()}}{{selectedCategory.slice(1)}}</h4>
                        <h4>Search Result for: {{search}}</h4>
                    </div>
                    <div class="book-row">
                        <!-- {{ (books$ | async).length}} -->
                        @if(!(books$ | async)?.length){

                            <p>No book</p>

                        } @else{

                            @for(book of books$ | async; track book){
                                <!-- {{book.frontCover | json}} -->
                                <div  class="book-card">
                                    <img [src]="book.frontCover?.image" [routerLink]="'/books/science/' + book._id" alt="">
                                    <div class="detail">
                                        <p class="title">{{book.title}}</p>
                                        <p class="author">{{book.author.fullname}}</p>
                                        <div class="price">
                                            <p class="title">N {{book.price}}</p>
                                            <!-- <button class="icon"><img src="../../../assets/Vector.svg" alt=""></button> -->
        
                                            <img *ngIf="book.inWishlist" (click)="removeFromWishlist(book._id)" src="../../../assets/Star 1.svg" alt="">
                                            <img *ngIf="!book.inWishlist" (click)="addWishlist(book._id)" src="../../../assets/Vector.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
        </section>
    </div>

    @if((books$ | async)?.length){
        <div class="pagination">
            <button (click)="prevPage()"><img src="../../../assets/arrowleft.svg" alt="arrowleft"></button>
            <button (click)="changeActive(i)" *ngFor="let button of pageSizeArray; let i = index;" [ngClass]="{active: i == active}">{{button + 1}}</button>
            <button (click)="nextPage()"><img src="../../../assets/arrowright.svg" alt="arrowright"></button>
        </div>
    }

</main>
<app-footer></app-footer>
