<!-- <app-navbar></app-navbar> -->
<main>
    <div class="main">
        <h3>Author Profile Set Up</h3>
        <section>
            <form >
                <div class="form">
                    <p>Persinal Details</p>
                    <div class="grid">
                        <div class="img-container">
                            <img [src]="(user$ | async)?.profilePic || '../../assets/noPic.jpeg'" alt="">
                            <p>{{(user$ | async)?.fullname}}</p> 
                        </div>
                        <div>
                            <label for="description">Your Bio</label>
                            <textarea id="description" placeholder="Your Bio" ></textarea>
                        </div>
                    </div>
                    <div class="grid grid-3">
                        <div>
                            <label for="pages">Location</label>
                            <input type="text" id="pages" placeholder="Location Link">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="pages">Instagram</label>
                            <input type="text" id="pages" placeholder="Instagram Link">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="date">Twitter</label>
                            <input type="text" id="date" placeholder="Twitter Link">
                        </div>
                    </div>
                    <!-- <div>
                        <label for="description">Your Bio</label>
                        <textarea id="description" placeholder="Your Bio" ></textarea>
                    </div> -->
                    <p>Bank Details</p>
                    <div class="grid grid-3">
                        <div>
                            <label for="pages">Bank Name</label>
                            <input type="text" id="pages" placeholder="Bank Name">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="pages">Account Number</label>
                            <input type="text" id="pages" placeholder="Account Number">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="date">Bank Holder</label>
                            <input type="text" id="date" placeholder="Bank Holder">
                        </div>
                    </div>
                </div>
                <button type="submit">Save</button>
               
            </form>
        </section>
    </div>
</main>
<app-footer></app-footer>

