main{
    background-color: white;
}
.main{
    width: min(90%,var(--maxWidth));
    margin-inline: auto;
    padding-block: 2rem;
}
h3{
    text-align: center;
    color: var(--primaryColor);
    padding-bottom: 2rem;
}
form{
    display: grid;
}
.form{
    padding: 1rem;
    border: 1px solid #DEE2E7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
}

.form > p{
    font-weight: 600;
}

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    gap: 1rem;
}

label{
    display: block;
    padding-bottom: .3rem;
}

input, textarea, select{
    width: 100%;
    padding: .8rem;
    border: 1px solid #E8E9EA;
    border-radius: .3rem;
}

textarea{
    resize: none;
    height: 10rem;
}

/* .upload-section{
    display: grid;
    gap: 1rem;
    padding-top: 3rem;
} */

button{
    background: linear-gradient(180deg, #AC1B75 0%, #9E2681 100%);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
    width: min(60%,30rem);
    margin-inline: auto;
    cursor: pointer;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid #ff000050;
}

small{
    color: #ff000050;
    font-weight: 600;
}

/* span{
    color: var(--primaryColor);
    cursor: pointer;
} */

/* .hide{
    display: none;
} */

img{
    width: 10rem;
    height: 10rem;
    border: 2px solid var(--primaryColor);
    border-radius: .5rem;
    margin-bottom: .5rem;
}
.file{
    display: none;
}

.crop{
    position: absolute;
    /* inset: 0; */
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.crop > div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.crop button{
    background-color: white;
    /* color: white; */
    padding: .5rem 3rem;
    border: none;
    border-radius: .5rem;
    
}
@media screen and (min-width:600px) {
    .form{
        padding: 2rem;
        gap: 1.5rem;
    }
    
    .grid-3{
        grid-template-columns: 1fr;
    }
    /* .upload{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    } */
}
@media screen and (min-width:800px) {
    .form{
        padding: 4rem 4rem;
        /* gap: 3rem; */

    }
    .grid{
        grid-template-columns: 1fr 2fr;
        gap: 1.5rem;
    }
    .grid-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* .upload-section{
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    .upload{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    } */
}