<!-- <app-navbar></app-navbar> -->
<main>
    <div class="main">
        <h3>Author Profile Set Up</h3>
        <section>
            <form [formGroup]="authorForm" (ngSubmit)="becomeAuthor()">
                <div class="form">
                    <p>Personal Details</p>
                    <div class="grid">
                        <div class="img-container">
                            <div class="crop" *ngIf="showCrop">
                                <image-cropper
                                [imageFile]= "inputFile.nativeElement.files[0]"
                                [maintainAspectRatio]="true"
                                [aspectRatio]= "1/1"
                                (imageCropped)="imageCropped($event)"
                                >
                                </image-cropper>
                                <div>
                                    <button type="button" (click)="cancelCrop()">Cancel</button>
                                    <button type="button" (click)="saveCrop()">Done</button>
                                </div>
                            </div>
                            <input type="file" class="file" #file  (change)="uploadFile($event)" (click)="inputFile.nativeElement.value=''" />
                            <img [src]="imageUrl || (user$ | async)?.profilePic || '../../assets/noPic.jpeg'" alt="" (click)="selectAvatar()">
                            <p>{{(user$ | async)?.fullname}}</p> 
                        </div>
                        <div>
                            <label for="description">Your Bio</label>
                            <textarea id="description" placeholder="Your Bio" name="bio" formControlName="bio" ></textarea>
                        </div>
                    </div>
                    <div class="grid grid-3">
                        <div>
                            <label for="location">Location</label>
                            <input type="text" id="location" placeholder="Location Link" formControlName="location">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div formGroupName="socials">
                            <div>
                                <label for="instagram">Instagram</label>
                                <input type="text" id="instagram" placeholder="Instagram Link" formControlName="instagram">
                                <small>Must be between 10-1000</small>
                            </div>
                            <div>
                                <label for="twitter">Twitter</label>
                                <input type="text" id="twitter" placeholder="Twitter Link" formControlName="twitter">
                            </div>
                        </div>
                        
                    </div>
                    <p>Bank Details</p>
                    <div class="grid grid-3" formGroupName="cardInfo">
                        <div>
                            <label for="bankName">Bank Name</label>
                            <input type="text" id="bankName" placeholder="Bank Name" formControlName="bankName">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="accountNumber">Account Number</label>
                            <input type="text" id="accountNumber" placeholder="Account Number" formControlName="accountNumber">
                            <small>Must be between 10-1000</small>
                        </div>
                        <div>
                            <label for="bankHolder">Bank Holder</label>
                            <input type="text" id="bankHolder" placeholder="Bank Holder" formControlName="bankHolder">
                        </div>
                    </div>
                </div>
                <button type="button" (click)="becomeAuthor()">Save</button>
               
            </form>
        </section>
    </div>
</main>
<app-footer></app-footer>

