.body{
    display: flex;
    flex-direction: column;
}
main{
    background: linear-gradient(0deg,rgba(129, 14, 167, 0.6), rgba(129, 14, 167, 0.6)), url("../../../assets/bgImg.png") center/cover fixed no-repeat;
    padding-block: 4rem;
    /* overflow: hidden; */
    flex-grow: 1;
    display: grid;
    place-items: center;
}

section{
    background-color: white;
    width: min(90%,30rem);
    margin-inline: auto;
    border-radius: 1rem;
    padding: 3rem 2rem;
    display: grid;
    gap: 1.5rem;
    place-items: center;
    text-align: center;
}
