<section>
    <div class="main">
        <div class="top">
            <h3>Write a review</h3>
            <p class="close">x</p>
        </div>
        <form>
            <div>
                <label for="rate">Enter Rate</label>
                <input id="rate" type="number" defaultValue="1" min="1" max="5">
            </div>
            <textarea name="review" id="review" placeholder="write a review"></textarea>
            <button>Submit Review</button>
        </form>
    </div>
</section>