<header>
    <!-- <app-navbar></app-navbar> -->
    <section class="head-section">
        <h3>{{((user$ | async)?._id !== authorId) ? 'Author Profile' : 'My Profile'}}</h3>
    </section>
</header>
<main>
    <section class="top-section">
        <aside class="img-container">
            <img class="img" [src]="(author$ | async)?.profilePic || '../../../assets/noPic.jpeg'" alt="">
        </aside>
        <aside class="about">
            <div class="flex-info">
                <div>
                    <h4>{{(author$ | async)?.fullname}}</h4>
                    <p>Uyo, Nigeria</p>
                </div>
                <button *ngIf="((user$ | async)?._id !== authorId)" routerLink="/dashboard/author/send-message">Message</button>
                <div *ngIf="((user$ | async)?._id == authorId)" class="btn-container">
                    <button [routerLink]="'/dashboard/author/edit-profile/' + (user$ | async)?._id " class="btn">Edit Profile</button>
                    <button routerLink="/dashboard/add-book">Add Book</button>
                </div>
            </div>
            <div>
                <h4>About</h4>
                <p>{{(author$ | async)?.profileId?.bio}}</p>
            </div>
        </aside>
    </section>
    <section class="book-section">
        @if(!(authorBook$ | async)?.length){
            <p>authorBook is empty</p>
        }@else{
            <aside class="flex-info">
                <!-- <h4>Books</h4> -->
                <h4 class="num">{{(authorBook$ | async)?.length}} Books</h4>
            </aside>
            <aside class="book-row">
                    <div *ngFor="let book of (authorBook$ | async)" class="book-card">
                        <img [src]="book.frontCover.image" [routerLink]="'/books/science/' + book._id" alt="">
                        <div class="detail">
                            <p class="title">{{book.title}}</p>
                            <div class="price">
                                <p class="title">N {{book.price}}</p>
                            </div>
                            <div class="price" *ngIf="((user$ | async)?._id == authorId)">
                                <img src="../../../assets/delete.svg" [routerLink]="'/dashboard/edit-book/' + book._id" alt="" class="icon">
                                @if((id$ | async)?.includes(book._id)){
                                    <div class="loader"></div>
                                }@else{
                                    <img src="../../../assets/edit.svg" (click)="deleteBook(book._id)" alt="" class="icon">
                                }
                            </div>
                        </div>
                    </div>
            </aside>
        }
    </section>
</main>
<app-footer></app-footer>