<header>
    <!-- <app-navbar></app-navbar> -->
    <section class="head-section">
        <h3>Author Profile</h3>
    </section>
</header>
<main>
    <section class="top-section">
        <aside>
            <img class="img" src="../../../assets/profilepic.png" alt="">
        </aside>
        <aside class="about">
            <div class="flex-info">
                <div>
                    <h4>Matthew Aniekan</h4>
                    <p>Uyo, Nigeria</p>
                </div>
                <button *ngIf="((user$ | async)?._id !== authorId)" routerLink="/dashboard/author/send-message">Message</button>
                <div *ngIf="((user$ | async)?._id == authorId)" class="btn-container">
                    <button [routerLink]="'/dashboard/author/edit-profile/' + (user$ | async)?._id " class="btn">Edit Profile</button>
                    <button routerLink="/dashboard/add-book">Add Book</button>
                </div>
            </div>
            <div>
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia dolore quisquam iusto sunt nobis blanditiis ipsum, nesciunt a maiores, cumque autem, veniam adipisci ratione fugiat exercitationem perspiciatis necessitatibus quis sequi ullam pariatur! Assumenda nihil ipsam velit molestias placeat rem facilis ducimus ipsa fuga rerum quas, minima repellendus quos, quo labore, quod dolorum unde dignissimos ea corrupti nostrum error neque? Sapiente veritatis distinctio, ducimus cupiditate praesentium voluptate odit?</p>
            </div>
        </aside>
    </section>
    <section class="book-section">
        @if(!(authorBook$ | async)?.length){
            <p>authorBook is empty</p>
        }@else{
            <aside class="flex-info">
                <h4>Books</h4>
                <h4>15 Books</h4>
            </aside>
            <aside class="book-row">
                    <div *ngFor="let book of (authorBook$ | async)" class="book-card">
                        <img [src]="book.frontCover.image" [routerLink]="'/books/science/' + book._id" alt="">
                        <div class="detail">
                            <p class="title">{{book.title}}</p>
                            <div class="price">
                                <p class="title">N {{book.price}}</p>
                            </div>
                            <div class="price" *ngIf="((user$ | async)?._id == authorId)">
                                <img src="../../../assets/delete.svg" [routerLink]="'/dashboard/edit-book/' + book._id" alt="">
                                @if((id$ | async)?.includes(book._id)){
                                    <div class="loader"></div>
                                }@else{
                                    <img src="../../../assets/edit.svg" (click)="deleteBook(book._id)" alt="">
                                }
                            </div>
                        </div>
                    </div>
            </aside>
        }
    </section>
</main>
<app-footer></app-footer>