
main{
    height: 100%;
    background: linear-gradient(0deg,rgba(129, 14, 167, 0.6), rgba(129, 14, 167, 0.6)), url("../../../assets/bgImg.png") center/cover fixed no-repeat;
    padding-block: 2rem;
    /* overflow: hidden; */
}
section{
    width: min(90%,var(--maxWidth));
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto 1fr;
}
aside{
    height: 100%;
    background-color: red;
}
@media screen and (min-width:1000px) {
    section{
        grid-template-columns: auto 1fr;
    }
}
