.main{
    text-align: center;
    font-size: 14px;
}
h4{
    font-size: 1rem;
}
label{
    display: none;
}
input{
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.27);
    ;
    outline: none;
}
.content{
    display: grid;
    gap: 1rem;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: var(--primaryColor);
    color: white;
    padding: .8rem 2rem;
    border: none;
    border-radius: .3rem;
}
input:focus{
    border: 2px solid var(--primaryColor);
}
.file{
    display: none;
}
a{
    cursor: pointer;
}
img{
    width: 9rem;
    height: 8rem;
    object-fit: cover;
}
@media screen and (min-width:700px) {
    .contentlg{
        grid-template-columns: 1fr 1fr 1fr;
        padding-block: 2rem;
    }
}