.main{
    text-align: center;
    font-size: 14px;
}
h4{
    font-size: 1rem;
}
label{
    display: none;
}
input{
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.27);
    outline: none;
}
.contentlg{
    margin-top: 2rem;
}
.content{
    display: grid;
    gap: 1rem;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
button{
    background-color: var(--primaryColor);
    color: white;
    padding: .8rem 2rem;
    border: none;
    border-radius: .3rem;
}
button:disabled{
    opacity: .5;
}
input:focus{
    border: 2px solid var(--primaryColor);
}

a{
    cursor: pointer;
}
img{
    width: 9rem;
    height: 9rem;
    border: 3px solid var(--primaryColor);
    border-radius: .5rem;
    cursor: pointer;
}
.field{
    text-align: start;
    display: grid;
    gap: 1rem;
}

.small{
    color: red;
    font-size: .8rem;
    padding-top: .5rem;
    
}

.pass{
    display: flex;
    align-items: center;
    padding-inline: .5rem 1rem;
    border-radius: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.27);
    
}
.pass input{
    border: none;
    padding-inline: 0;
}

@media screen and (min-width:700px) {
    .contentlg{
        grid-template-columns: auto 1fr;
        padding-block: 2rem;
        margin-top: 0;
    }
    .field{
        
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        margin-top: 0;
    }
}