nav{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 7px gray;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%,var(--maxWidth));
    margin-inline: auto;
    padding-block: 1rem;
}

.flex{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

a{
    color: var(--primaryColor);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
.top-modal{
    display: grid;
    place-items: center;
    width: 100%;
    gap: .5rem;
}

.active{
    font-weight: 600;
}


button{
    background-color: var(--primaryColor);
    color: white;
    border: transparent;
    padding: .7rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.grid{
    display: grid;
    place-items: center;
}
.img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 2px solid var(--primaryColor);
}

.flex{
    display: none;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.absolute{
    position: absolute;
    height: fit-content;
    bottom: 0;
    top: 3rem;
    right: 0;
    background-color: whitesmoke;
    padding: 1rem;
    width: 100%;
    display: grid;
    gap: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--primaryColor);
}
.absolute p{
    cursor: pointer;
}

.pix{
    display: flex;
    align-items: center;
    gap: .2rem;
}
.mobile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sidebar-modal{
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    /* top: 4.5rem; */
    z-index: 2000;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: fit-content;
    padding-inline: 1rem;
    padding-block: 2rem;
    height: 100%;
    width: min(50%,20rem);
    margin-inline: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.dashboard{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--primaryColor);
    width: 100%;
    padding-block: .5rem;
    gap: .5rem;
}


.fake-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    animation: load-skeleton 5s linear infinite;
    background: linear-gradient(90deg, #80808070 25%, #80808085 50%, #80808070 75%);
    opacity: .7;
    background-size: 200% 100%;
}
.close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    color: var(--primaryColor);
}

.ske{
    height: 1rem;
    border-radius: .5rem;
    animation: load-skeleton 5s linear infinite;
    background: linear-gradient(90deg, #80808070 25%, #80808085 50%, #80808070 75%);
    opacity: .7;
    background-size: 200% 100%;
}
@keyframes load-skeleton {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@media screen and (min-width: 800px) {
    .flex{
        display: flex;
    }
    .mobile{
        display: none;
    }
    .sidebar-modal{
        display: none;
    }
}