<div class="body">
    <!-- <app-navbar></app-navbar> -->
    <main>
        <div class="head">
            <img src="../../../assets/reg-logo.svg" alt="">
            <p>Create An Account</p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div [ngClass]="{page:true}">
                <p [ngClass]="{color: page <= 3}"><span>1</span> Personal Information</p>
                <p [ngClass]="{color: page >= 2}"><span>2</span> Interest</p>
                <p [ngClass]="{color: page == 3}"><span>3</span> Preveiew details</p>
                <div class="page-overlay" [ngStyle]="{
                    width: page == 1 ? '38%' : page == 2 ? '66%' : '100%'}" [ngClass]="{noRadius: page == 3}"></div>
            </div>
            <div class="page-2 color">
                <p *ngIf="page == 1" ><span>1</span> Personal Information</p>
                <p *ngIf="page == 2"><span>2</span> Interest</p>
                <p *ngIf="page == 3"><span>3</span> Preveiew details</p>
            </div>
            <div class="form-content">
            @if(showCrop){
                <div class="crop">
                    <image-cropper
                    [imageFile]= "inputFile.nativeElement.files[0]"
                    [maintainAspectRatio]="true"
                    [aspectRatio]= "1/1"
                    (imageCropped)="imageCropped($event)"
                    >
                    </image-cropper>
                    <div>
                        <button type="button" (click)="cancelCrop()">Cancel</button>
                        <button type="button" (click)="saveCrop()">Done</button>
                    </div>
                </div>
            }  
                <input type="file" class="file" #file  (change)="uploadFile($event)" (click)="inputFile.nativeElement.value=''" />
                <app-pageone *ngIf="page == 1" (changePage)="changePage()" [registerForm]="registerForm" [imageUrl]="imageUrl" [inputFile]="inputFile" ></app-pageone>
                <app-pagetwo *ngIf="page == 2" (changePage)="changePage()" [registerForm]="registerForm"></app-pagetwo>
                <app-pagethree *ngIf="page == 3" (changePage)="changePage()" [registerForm]="registerForm" [imageUrl]="imageUrl" (register)="register()"></app-pagethree>

            </div>
        </form>
        <div class="overlay"></div>
    </main>
    <app-footer></app-footer>
</div>


<!-- <ngx-image-cropper
        > -->
        <!-- [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1/1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()" -->
        <!-- </ngx-image-cropper> -->
