
 section{
   background-color: white;
   border-radius: .5rem;
   padding: 2rem;
   display: grid;
   gap: 2rem;
   width: 100%;
}

 .grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
 }

 .img{
   height: 6rem;
   width: 6rem;
   border-radius: .5rem;
 }
 .flex{
   display: flex;
   justify-content: space-evenly;
 }
 .order-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
 }

 .order{
   display: flex;
   gap: 2rem;
   border-radius: .5rem;
   padding: 1rem;
   border: 2px solid rgba(187, 41, 235, 0.15);
 }
 