<app-header></app-header>
<main>
    <section>
        <aside class="flex-row">
            <div class="icon-div">
                <div class="icon-container">
                    <img src="../../../assets/large.svg" alt="">
                </div>
                <p>Large Collections</p>
            </div>
            <div class="icon-div">
                <div class="icon-container">
                    <img src="../../../assets/simple.svg" alt="">
                </div>
                <p>Simple, Secure Payment</p>
            </div>
            <div class="icon-div">
                <div class="icon-container">
                    <img src="../../../assets/quality.svg" alt="">
                </div>
                <p>Best Quality Materials</p>
            </div>
        </aside>
        <aside class="aside-2">
            <div class="books">
                <h4>Popular Books</h4>
                @if(loading$ | async){
                    <div class="book-row">
                        @for(i of [1,2,3,4]; track i){
                            <div  class="book-card">
                                <div class="sk sk-img"></div>
                                <div class="detail">
                                    <p class="sk sk-title"></p>
                                    <p class="sk sk-title"></p>
                                    <div class="sk-price">
                                        <div class="sk sk-title"></div>
                                        <div class="sk sk-icon"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
               
                
                <div class="book-row">
                    <div *ngFor="let book of (books$ | async)?.slice(0,4)" class="book-card">
                        <img [src]="book.frontCover.image" class="bookimg" [routerLink]="'/books/science/' + book._id" alt="">
                        <div class="detail">
                            <p class="title">{{book.title}}</p>
                            <p class="author">{{book.author.fullname}}</p>
                            <div class="price">
                                <p class="title">{{book.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="books">
                <h4>Best Selling Books</h4>
                <div class="book-row">
                    <div *ngFor="let book of (books$ | async)?.slice(1,5)?.reverse()" class="book-card">
                        <img [src]="book.frontCover.image" class="bookimg" [routerLink]="'/books/science/' + book._id" alt="">
                        <div class="detail">
                            <p class="title">{{book.title}}</p>
                            <p class="author">{{book.author.fullname}}</p>
                            <div class="price">
                                <p class="title">{{book.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="books">
                <h4>Best Selling Books</h4>
                <div class="book-row">
                        <div *ngFor="let book of (books$ | async)?.slice(0,4)" class="book-card">
                            <img [src]="book.frontCover.image" class="bookimg" [routerLink]="'/books/science/' + book._id" alt="">
                            <div class="detail">
                                <p class="title">{{book.title}}</p>
                                <p class="author">{{book.author.fullname}}</p>
                                <div class="price">
                                    <p class="title">{{book.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </aside>
        <aside class="aside-3">
            <div class="dive">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
                <div class="circle circle4"></div>
                <div class="circle circle5"></div>
                <div class="overlay-home"></div>
                <p>Dive into the world of warm books</p>
                <button routerLink="/books">
                    Explore Book Library
                </button>
            </div>
        </aside>
    </section>
</main>
<app-footer></app-footer>