<div class="body">
    <app-navbar></app-navbar>
    <main>
        <section>
            <div class="box empty" *ngIf="!(cartItems$ | async)?.items?.length">
                cart is empty
            </div>
            <div class="box" *ngIf="(cartItems$ | async)?.items?.length">
                <p>No of Items: {{(cartItems$ | async)?.items?.length}}</p>
                <div class="flex-1" *ngFor="let item of (cartItems$ | async)?.items">
                    <img [src]="item.frontCover.image" [alt]="item.title">
                    <div class="second">
                        <div >
                            <div>
                                <p class="title">{{item.title}}</p>
                                <p>{{item.author.fullname}}</p>
                            </div>
                        </div>
                        <p class="price">$ {{item.price}}</p>
                    </div>
                    <div class="second">
                        @if((loading$ | async) && id == item._id){
                            <div class="loader"></div>
                         }@else{
                            <img src="../../../assets/edit.svg" class="icon" alt="" (click)="removeFromCart(item._id)">
                        }
                        <img src="../../../assets/Vector.svg" class="icon" alt="">
                    </div>
                    <div class="desk">
                        <p class="title">{{item.title}}</p>
                        <p>{{item.author.fullname}}</p>
                    </div>
                    <div class="flex desk">
                        <img src="../../../assets/Vector.svg" class="icon" alt="">
                        <p class="wish">Add to wishlist</p>
                    </div>
                    <p class="desk price">$ {{item.price}}</p>
                    <!-- <div class="loader"></div> -->
                    <button class="button" (click)="removeFromCart(item._id)">
                       @if((loading$ | async) && id == item._id){
                           <div class="loader"></div>
                        }@else{
                           Remove
                       }
                    </button>
                </div>
            </div>
            <div class="box box-2">
                <div>
                    <p>Subtotal:</p>
                    <p>$ {{(cartItems$ | async)?.orderValue}}.00</p>
                </div>
                <div>
                    <p>Discount:</p>
                    <p>$ {{(cartItems$ | async)?.discount}}.00</p>
                </div>
                <div class="total">
                    <p>Total:</p>
                    <p>00.00</p>
                </div>
                <div class="btn-container">
                    <button [disabled]="!(cartItems$ | async)?.items?.length" routerLink="/dashboard/payment">Checkout</button>
                    <button routerLink="/books">Go To Books</button>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>