<footer>
    <section>
        <div class="dark">
            <img src="../../../assets/foot-logo.svg" alt="">
            <div class="gap">
                <p>Home</p>
                <p>About</p>
            </div>
            <div class="gap">
                <p>Home</p>
                <p>About</p>
            </div>
            <div class="gap">
                <p>Home</p>
                <p>About</p>
            </div>
            <div class="gap">
                <p>Home</p>
                <p>About</p>
            </div>
        </div>
    </section>
    <p class="last">WarmBooks © {{year}} All Rights Reserved</p>
</footer>
